<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rttc.whatsappfbstego">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".GraphicalPassword">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MainActivityAudio"></activity>
        <activity android:name=".MainActivityImage"></activity>
        <activity android:name=".UnHideActivity"></activity>
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".NewGrPassword"></activity>
        <activity android:name=".FilePicker"></activity>
        <activity android:name=".UnHideActivityAudio"></activity>
        <activity android:name=".UnHideActivityImage"></activity>

    </application>


</manifest>